.MuiCard-root {
  margin-bottom: 1.5em;
  height: calc(100% - 1.5em);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

*{
  margin: 0;
  padding: 0;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: darkslategray;
  color: white;
}

.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

nav li{
  color: white;
}

/* img {
    max-width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
} */

.cart{
  color: white;
}

.show-products {
width: 100%
}