/* HOMEPAGE styles */

#root {
    color: rgb(34, 4, 4);
    width: 100vw;
    height: 100vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  #products-list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .product-container {
    width: 20%;
    display: flex;
    flex-direction: wrap;
    align-items: flex-start;
    border-radius: 18px;
    border: solid 1px navy;
    box-shadow: 10px 5px 10px rgb(83, 66, 54);
    border: 5px rgb(54, 3, 61);
    padding: 5px;
    margin: 20px;
  }
  .product-img {
    width: 50%;
    display : flex ;
    flex-direction: column;
  }
  .product-discribe {
    display: flex;
    flex-direction: wrap ;
  }
  .add-btn{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
  .dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
  }
  
  /* The search field */
  #myInput {
    box-sizing: border-box;
    /* background-image: url('searchicon.png'); */
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 10px 10px 12px 15px;
    border: none;
    border-bottom: 1px solid #ddd;
  }
  
  /* The search field when it gets focus/clicked on */
  #myInput:focus {outline: 3px solid #ddd;}
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    border: 1px solid #ddd;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}